*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    -ms-box-sizing:border-box ;
    box-sizing: border-box;
}
body,html{
    font-family: cursive;
    font-size: 10px;
}

.mountain{
    width: 50%;
    height: 100px;
    float: left;
    position: absolute;
    font-size: 5rem;
    cursor:context-menu ;
    color: oldlace;
}
.mountain>div{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.title{
    color: white;
}
.menu{
    width: 100%;
    position: absolute;
    right: 0%;
    top: 10%;
}
.menu li{
    float: right;
    list-style-type: none;
    font-size: 18px;
    margin-right: 2%;
    margin-top: 30px;
}
@media screen and (max-width:700px) {
    .mountain{
        width: 300px;
        font-size: 3rem;
        height: 70px;
        left: 50%;
        top: 2%;
        transform: translate(-50%)
    }
    .menu{
        width: 100%;
        height: 50px;
        /* background-color: aqua; */
        top: 30%;
        transform: translateY(-50%);
    }
    .menu li{
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: 2s;
    }
    .menu li:nth-child(1){
        font-size: 30px;
    }
    .menu li:nth-child(2){
        top: -60%;
    }
    .menu li:nth-child(3){
        top: -140%;
    }
    .menu li:nth-child(4){
        top: 140%;
    }
    .menu li:nth-child(5){
        top: 230%;
    }
    .menu li:nth-child(6){
        left: 20%;
    }
    .menu li:nth-child(7){
        left: 80%;
    }
    .menu li>span:hover .menu li:nth-child(7){
        opacity: 1;
    }
    .menu li a{
        text-shadow: 0 0 5px rgb(3, 237, 3);
    }
}
.menu li a{
    /* padding: 10px; */
    border-radius: 13px;
    padding: 5px;
}
.menu li a:hover{   
    /* background-color: rgb(217, 211, 211); */
    box-shadow: -1px -1px 13px 2px white;
}
.menutools{
    color: white;
    text-decoration: none;

}
.imgtitle{
    width: 100vw;
    height: 90vh;
    background: url("./img/j-v-RRWc_JGSXYs-unsplash.jpg") center center/cover no-repeat;
    /* background-attachment: fixed; */
    /* opacity: 0.5; */
}
.suggestion{
   width: 27.33%; 
    /* height: 2%; */
    float: left;
    margin: 3% ;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 20px;
    box-shadow: 1px 3px 20px 0.5px lightgray;
    overflow: auto;
}
.suggestion h1 {
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
.suggestion p{
    padding: 5px 10px;
    font-size: 1.3rem;
    text-align: center;
}
@media screen and (max-width:700px){
    .suggestion{
        width: 90%;
        left: 50%;
    }

}
.yourphoto{
    display: inline-block;
    width: 100%;
    margin-top: 2%; 
}
.yourphoto h1{
    text-align: center;
    font-size: 200%;
}
.padding2{
    width: 100%;
    height: 100px;
    padding-top: 50px;
    margin-top: 30px;
}
.hr1{
    text-align: center;
    width: 60%;
    float: left;
    margin-left: 20%;
}
.h2{
    height: 10px;
    width: 10px;
    background-color:rgb(177, 168, 168);
    border-radius: 50%;
    float: left;
    margin-left: -30%;
    margin-top: -4.3px;
}
.uploudphoto{
    width: 100%;
    /* background-color: aqua; */
    padding: 0 60px 20px 60px;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
}
.uploudyourphoto{
    width: 100%;
    height: 200px;
    clear: left;
    position: relative;
}
.uploudyourphoto img{
    width: 27%;
    height: 170%;
    margin: 3% 0 0 2px ;
    float: left;
    border: 2px solid gray;
    position: relative;
    left: 15%;
    transform: translate(-15%);
    
}
.uploudyourphoto p{
    width: 27%;
    /* border: 2px solid gray; */
    padding: 20px ;
    display: inline-flexbox;
    float: right;
    margin: 0.5px 2px 0 0;
    font-size: 1.4rem;
}
.right{
    left: -50%;
    transform: translate(45%);
}
.uploudyourphoto p a{
    text-decoration: none;
    color: rgb(13, 171, 15);
    font-size: 1.3rem;
}
@media screen and (max-width:700px){   
    .uploudyourphoto img{
        position: relative;
        width: 50%;  
        height: 200px;
        left: 50%;
        transform: translate(-50%);
        top: 80%;
        }
    /* .right{
        position: absolute;
    } */
    .right p:nth-child(1){
        position: absolute;
        top: -280%;
        left: 10%;
    }
    .right p:nth-child(2){
        position: absolute;
        top: -140%;
        left: 70%;
    }
    .right p:nth-child(3){
        position: absolute;
        top: 0%;
        left: 10%;
    }
    #img1{
        left: 65%;
        top: 10%;
    }
    #img2{
        left: 35%;
        top: 50%;
    }
    #img3{
        left: 65%;
    }

}
.imgbackground{
    margin-top: 40px;
    display: inline-block;
    width: 98.9vw;
    height: 50vh;
    background: url("img/martin.jpg")center center/cover no-repeat ;
    background-attachment: fixed;
    /* opacity: 0.8; */
}
.veiwPorof{
    /* background-color: red; */
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 1.3rem;
}
.veiwPorof a{
    text-decoration: none;
    color: blueviolet;
}
.iconBox{
    margin-top: 20px;
    width: 100%;
    height: 800px;
    /* background-color: red; */
}

.aboutUs{
    width: 50%;
    height: 500px;
    float: left;
    /* background-color: chartreuse; */
}
.Icon{
    width: 60px;
    height: 60px;
}
.IconPad{
    margin-left: 10px;
}

.tools{
    width: 50%;
    height: auto;
    padding: 10px;
    /* margin: 4%; */
    font-size: 1.3rem;
    /* background-color: blue; */
    margin-bottom: 20px;
    float: right;
}
.pIcon{
    width: 60%;
    float: right;
}
.aboutUsStyle{
    text-align: center;
    /* background-color: red; */
    width: 100%;
    height: 100PX;
    line-height: 100px;
    font-size: 2.8rem;
    padding-left: 50%;
}
.dotAboutUs{
    width: 50%;
    height: 0;
    float: right;
    margin-right: 10%;
}
.hHalf{
    height: 10px;
    width: 10px;
    background-color:rgb(177, 168, 168);
    border-radius: 50%;
    float: right;
    margin-right: -50%;
    margin-top: -4.3px;
}
.padding3{
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.textAboutUs{
    /* background-color: blue; */
    width: 100%;
    height: auto;
    text-align: right;
    padding: 0% 6% 6% 6%;
    font-size: 1.6rem;
}
.checkOutTeam{
    /* background-color: blue; */
    width: 100%;
    height: auto;
}
.buttunicon{
    margin-right: 5.5%;
    width: 50%;
    height: 70px;
    float: right;
    background-color: transparent;
    cursor: pointer;

}
.textIcon{
    width: 50%;
    height: 70px;
    float: right;
    line-height: 70px;
    margin-right: 1.5%;
}
.imgIcon{
    width: 60px;
    height: 60px;
    padding-top: 10px;
}
@media screen and (max-width:720px){
    .iconBox{
        position: relative;
    }
    .aboutUs{
        width: 100%;
        position: absolute;
        top: 70%;
    }
    .tools{
        width: 100%;
        height: 100px;;
        position: relative;
        opacity: 1;
        margin-bottom: 50px;
    }
    .checkOutTeam{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        top: 130%;

    }

}
.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(37, 36, 36);
    padding: 3% 8%;
}
.container{
   width: 100%;
   height: auto;
   padding-top: 20px;
}
.section{
   width: 21%; 
   float: left;
   margin-left: 4%;
   color: rgb(180, 180, 180);
}
.footerPfont{
    width: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
}
.follow{
    margin-top: 12%;
    padding: 5px;
}
#telegrm{
    font-size:24px ; 
    color: white;
}
.decoration{
    text-decoration: none;
}
.strong{
    font-size: 14px; color: white;
}
.span{
    margin-left: 25px; color: white;
}
.ul{
    width: 75%;
    text-align: center;
    margin-top: 20px;
}
.ul li{
    list-style-type: none;
    font-size: 1.4rem;
    padding-bottom: 20px;
}
.ul li a{
    text-decoration: none;
    color: white;
}
.tagsection{
    /* background-color: blue; */
    width: 100%;
    height: 200px;
    margin-top: 20px;
    /* margin-top: 10px; */
    /* float: left; */
}
.tagsection a{
    display: block;
    text-align: center;
    width: 70%;
    text-decoration: none;
    color: white;
    border: 2px solid gray;
    font-size: 15px;
}
.h2height{
    height:40px ;
}
.Tel-Phone{
    margin: 20px 0 20px;
}
.ul-hours{
    margin-bottom: 10px;
}
footer{
    position: relative;
}
@media screen and (max-width:720px){
    .footer{
        height: 700px;
        position: absolute;
        margin-top: 90%;        
    }
    .section{
        width: 40%;
        margin: 30px 0 0 10% ;
    }

}
@media screen and (max-width:600px){
    .footer{
        margin-top: 100%;
    }
}
@media screen and (max-width:400px){
    .footer{
        margin-top: 140%;
    }
}

